{% extends "WT_base.html" %}

{% block content %}
<div class="delete">
    <h3>Delete</h3>
    <form method="POST">
            {% csrf_token %}
            <p>Do you want to permanently delete your workout for {{ workout.date }}?</p>
            <br>
                <img src="/static/images/caution.png" alt="Caution Sign">
            <br>
            <br>
            <button class="btn" type="submit">Delete Workout</button>
            <button type="submit"><a href="{% url 'WT_details' workout.id %}">Go Back to Details</a></button>
        </form>
</div>
{% endblock %}