{% extends "WT_base.html" %}

{% block content %}

<h3 class="h3space">Lower Body Exercises</h3>

<div class="exercises">
        <div class="exercises2">
            <div class="legs" style="float: left; width: 33%">
                <h4> Leg Exercises</h4>
                {% for i in listItem %}
                <div>
                       {{ i }}
                </div>
                {% endfor %}
            </div>
            <div class="glutes" style="float: left ; width: 33%">
                <h4> Glute Exercises</h4>
                {% for i in listItem1 %}
                <div>
                       {{ i }}
                </div>
                {% endfor %}
            </div>
            <div class="abs" style="float: right; width: 33%">
                <h4> Ab Exercises</h4>
                {% for i in listItem2 %}
                <div>
                       {{ i }}
                </div>
                {% endfor %}
            </div>
         </div>
</div>


<h4>Information from <a target="_blank" href="https://www.strengthlog.com/exercise-directory/">https://www.strengthlog.com/exercise-directory/</a></h4>


{% endblock %}